Source: olimex-pinguino32-otg
Section: boards
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
XBSC-TieCore: chipkit
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: olimex-pinguino32-otg
Section: boards
Architecture: all
XBSC-Group: Olimex
Depends: chipkit
Description: Olimex Pinguino OTG



